/*variables*/
//$primaryColor: #d3ccff;
$accent: #D8D4FF;
$accent_2: #D6FFBA;
$primaryColor: #E6D4FF;
$darkerpurple: #7971AA;
$dark: #7971AA;
$textColor: black;
$backgroundColor: #FFFDF7;
$container-width: 1200px;
$container-width-lg: 1340px;
$banner-distance: 20px;
$border-bottom-color:  rgb(37, 36, 43);
//$linear-gradient: linear-gradient(90deg, #B4B1E5 0%,20%,hsl(269, 54%, 84%));
$linear-gradient: linear-gradient(90deg, hsl(248, 100%, 90%) 0%,20%,hsl(269, 100%, 90%));
//$border-bottom: 1px solid 382e30;
$border-bottom: 1px solid rgb(37,36,43);
$fontTitle: 'Lora', serif;
$fontText: 'Poppins', sans-serif;



